{% extends 'patient/patient_base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align: center; color: blue;">Health Tips</h1>
<hr>

    {% for tip in tips %}
    <div class="container text-center ">
        <div class="row">
          <div class="col-md-8 border mb-4 mx-auto " style="background-color: rgb(246, 13, 13); color: white; ">
           
        <h4 style="color: rgb(0, 0, 0);"><strong >{{ tip.title }}</strong></h4>
        <h6>{{ tip.content }}</h6>
          </div>
        </div>
    </div>
    
    {% endfor %}


{% endblock %}

